{% extends 'base.html.twig' %}

{% block body %}

    <h1> Season {{ season.number }} of {{ program.title }}</h1>

    <h2>Episodes : </h2>
    <ul>
        {% for episode in episodes %}
            <li>
                Episode {{ episode.number }} : {{ episode.title }}
                <a href="{{ path('program_episode_show', { episode: episode.id, program: program.id, season: season.id  } ) }}"> Voir la fiche de l'épisode</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{{ path( 'program_index', {season: season.id} )}} "> Retour à la liste des programmes</a>
{% endblock %}